@using FailTracker.Core.Domain;
@model FailTracker.Web.Models.Issues.EditIssueForm

@{
	ViewBag._Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
	<p>@Html.LabelFor(m => m.Title) @Html.TextBoxFor(m => m.Title) </p>
	<p>@Html.LabelFor(m => m.Type) @Html.DropDownListFor(m => m.Type, (IssueType.Story).ToSelectList()) </p>
	<p>@Html.LabelFor(m => m.Size) @Html.DropDownListFor(m => m.Size, (PointSize.Unsized).ToSelectList()) </p>
	<p>@Html.LabelFor(m => m.AssignedToID) @Html.DropDownListFor(m => m.AssignedToID, Html.GetUserSelectList(null), "Unassigned") </p>
	<p>@Html.LabelFor(m => m.Description) @Html.TextAreaFor(m => m.Description) </p>
	<p>@Html.LabelFor(m => m.Comments) @Html.TextAreaFor(m => m.Comments) </p>
	<div class="control-box"><input type="submit" value="Save" /></div>
}